<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.dao.ProductDao">

 <insert id="batchInsert" parameterType="java.util.List">

     insert ignore into product(id,productName,price,description)
             VALUES
                 <foreach collection="list" item="item" index="index" separator=",">
                     (
                      #{item.id},#{item.productName},#{item.price},#{item.description}
                     )
                 </foreach>
 </insert>
</mapper>